<div class="menu">
  <img src="assets/logo.png" class="menu__logo" />

  <div class="menu__list">
    <div *ngFor="let p of appPages; let i = index" class="menu__list__item" routerDirection="root"
      [routerLink]="[p.url]" routerLinkActive="menu__list__item--selected">

      <div class="menu__list__item__page">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <div>{{ p.title }}</div>
      </div>

      <div class="menu__list__item__notifications" *ngIf="p.notifications">
        {{p.notifications}}
      </div>

    </div>
  </div>
</div>