<div class="menu">
  <img src="assets/logo.png" class="menu__logo" />

  <ion-list class="menu__list">

    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
      <ion-item class="menu__list__item" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
        <ion-label>{{ p.title }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</div>