ion-header::after {
  background-image: none;
  border-bottom: 1px solid var(--x-bg-gray);
}

.header {
  padding: 0 15px;

  &::after {
    background-image: none;
    border-bottom: 1px solid var(--x-bg-gray);
  }

  &__container {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    flex-grow: 0;
    font-size: 22px;
    font-weight: 500;
  }
  &__search {
    --box-shadow: none;
    --background: var(--x-bg-gray);
    max-width: 450px;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--x-darkgray);

    &__icon {
      font-size: 25px;
      margin-left: 15px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
