<div class="trending">
  <div class="trending__header">
    <div class="trending__header__title">Trending tickers</div>

    <div class="sort">
      <app-sort [options]="sortOptions" [(value)]="selectedSortOption"></app-sort>
    </div>
  </div>

  <div class="trending__content">
    <div class="trending__content__scrollable">
      <app-trending-tile *ngFor="let trending of trendingList" [trending]="trending" class="trending__content__item">
      </app-trending-tile>

      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>
      <div style="height: 100px; width: 200px; margin: 10px; background-color: red;"></div>

    </div>
  </div>
</div>